#container {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.completed {
  text-decoration: line-through;
  color: gray;
  font-style: italic;
}

#title {
  font-size: 50px;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}